/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: black;
    width: 1100px;
    border-radius: 15px;
    margin-top: 30px;
}

/* .container {
    display: flex;
    justify-content: center;
    color: white;
    margin: 4% 0;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    position: relative;
} */

h1 {
    color: white;
    font-size: 50px;
    margin: 0px;
    line-height: 60px;

}

.p-white {
    color: white;
    font-size: 16px;
}

.contants {
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
    padding-right: 5%;
}

#banner-image {
    margin-bottom: -60px;
}

div img {
    width: 100%;
}

.watch-btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    width: 1000px;
    border-radius: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.button-div {
    width: 25%;
    height: 200px;
    border-radius: 10px;
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#button-1 {
    padding: 10px 20px;
    background-color: white;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

#button-2 {
    padding: 10px 40px;
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    border: none;
    margin-bottom: 15px;
}

#button-3 {
    padding: 10px 55px;
    background-color: red;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

/* grid-items */
.watch-game {
    display:
        flex;
    justify-content: space-between;
}

.container-two {
    margin: 100px auto;
    width: 1300px;
}

.information-notice {
    display: grid;
    grid-template-rows: repeat(3, 0.2fr);
    align-items: center;
    border-radius: 10px;
    background-color: #272525;
    width: 25%;
    height: 300px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.information {
    padding: 10px;
}

.information h3 {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 10px;
}

#blog {
    background-color: red;
    color: rgb(3, 27, 48);
}

.watch-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.watch-team-list {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 450px;
    border-radius: 15px;
    justify-content: space-between;
    border: 2px solid gray;
}

.watch-team-img {
    height: 50%;
}

.watch-team-text {
    height: 50%;
    padding: 15px;

}

.watch-team-img img {
    height: 179px;
    width: 312px;
    border-radius: 15px 15px 0 0;

}

.transfer-button {
    width: 70px;
    height: 32px;
    border: 2px solid black;
    padding: 5px 10px;
    margin: 10px 0 0 15px;

    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-top: 10px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
}

.comments {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-clock {
    margin-right: 5px;
}

.fa-message {
    margin-right: 5px;
}

footer {
    width: 120%;
    /* height: 200px; */
    padding: 50px 0 50px;
    margin: 0px;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
}

hr {
    width: 70%;
    background-color: rgba(255, 255, 254, 0.404);
}

.contact-information {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.information {
    text-decoration: none;
    color: #B4B4B4;
}

h3 {
    text-align: left;
    font-weight: 400;
}

.goal {
    text-align: center;
    font-weight: 400;
}

.social-icon {
    display: flex;
    color: white;
    align-content: center;
    justify-content: center;
}

.social {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}

/* Tablet Responsive */


@media only screen and (max-width: 688px) {
    .container {
        width: 95%;
        border-radius: 15px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 25;
        line-height: 40;
    }

    .contants {
        width: 70%;
        margin-top: 20px;
        text-align: center;
    }

    .container-two {
        margin: 50px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .watch-team {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;
    }

    .watch-game {
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
    }

    .information-notice {
        width: 100%;
        margin-bottom: 20px;
        background-color: #F3F1FF;
    }

    footer {
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
        padding: 0%;

    }

    .contact-information {
        flex-wrap: wrap;
        line-height: 0%;
    }
}







/* Teblet Responsive */


@media only screen and (min-width: 689px) and (max-width: 992px) {

    .container {
        display: flex;
        background-color: black;
        width: 95%;
        border-radius: 15px;
        margin-top: 30px;
    }


    .contants {
        width: 70%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
        padding: 0px 40px 10px;
    }

    .contants img {
        width: 100%;
        margin-top: 200px;

    }

    .container-two {
        margin: 50px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .watch-team {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
    }

    #display-none {
        display: none;
    }

    .l-m-none {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .view {
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 7px 25px;
        margin: 40px 350px;
    }

    .watch-game {
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
    }

    .information-notice {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 80px;
        background-color: #F3F1FF;
        width: 100%;
        margin-bottom: 20px;
    }


    footer {
        width: 100%;
        flex-wrap: wrap;
        padding: 0%;

    }

    .contact-information {
        flex-wrap: wrap;
        line-height: 0%;
    }
}